
      <div class="container">
      <table class="table table-dark table-striped">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">NOMBRE</th>
                <th scope="col">DIRECCION</th>
                <th scope="col">INSUMO</th>
                <th scope="col">
                  Accion
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let hospital of hospitales"><!--Aqwui el ngFor-->
                <th scope="row">{{hospital.id}}</th>
                <td>{{hospital.nombre}}</td>
                <td>{{hospital.direccion}}</td>
                <td>{{hospital.insumo}}</td>
                <td style="display: flex; gap: 1rem; flex: 1;">
                  <button type="button" class="btn btn-warning">Actualizar</button>
                  <button type="button" class="btn btn-danger" (click)="eliminarHospital(hospital.id)">Eliminar</button></td>
              </tr>

            </tbody>
          </table>
        </div>



        <form [formGroup]="hospitalrForm" (ngSubmit)="mostrarFormulario()">

          <div class="campos">
              <div class="campo">
                 <label for="">Nombre</label> 
                 <input type="text" formControlName="nombre">
              </div>
              <div class="campo">
                  <label for="">Direccion</label>
                  <input type="text" formControlName="direccion">
              </div>
              <div class="campo">
                <label for="">Insumo</label>
                <input type="text" formControlName="insumo">
            </div>
          </div>
          <div class="boton">
                  <button>Imprimir</button>
          </div>
      
      </form>
      <br>
      <br>    